<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card>
  <mat-card-title>Recurrence</mat-card-title>
  <mat-card-content>
    <p>{{recurrence | percent}} </p>
  </mat-card-content>
</mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
  <mat-card-title>abandonsPanier</mat-card-title>
  <mat-card-content>
    <p>{{abandonsPanier | percent}} </p>
  </mat-card-content>
</mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
  <mat-card-title>convPanier</mat-card-title>
  <mat-card-content>
    <p>{{conversionsPanier | percent}} </p>
  </mat-card-content>
</mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
  <mat-card-title>convCommandes</mat-card-title>
  <mat-card-content>
   <p>{{conversionsCommandes | percent}} </p>
  </mat-card-content>
</mat-card> 
  </mat-grid-tile>
</mat-grid-list>























